*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  margin: 50px auto;
  margin-right: 30px;
  width: 300px;
  background-color: #fcfcfc;
  position: relative;
}

.main-content:last-child {
  margin-right: 0;
}

.step {
  width: 40px;
  color: #FFF;
  background-color: #FF9A4B;
}

.main-image {
  position: absolute;
  top: 0;
  right: 0;
  
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow01.png);
}

.main-image2 {
  height: 150px;
  margin: 10px;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow02.png);
}

.main-image3 {
  height: 150px;
  margin: 10px;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow03.png);
}

.main-blog-text {
  margin:  5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}
