*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.list {
  width: 960px;
  margin:0 auto;
 padding-top: 50px;
 padding-bottom:  50px;
}

.list-text {
  height:50px;
  background-color: blue;
  padding: 0;
}
.list-text:nth-child(odd) {
  padding: 0;
  background-color: #dcdcdc; 
}

.list-name {
  padding-left: 20px;
  margin: 0 auto;
}

.box {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}



.box1 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  
  background-color: orange;
}

.box2 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: orange;
}

.box3 {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  background-color: orange;
}
.box4 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: orange;
}

.box5 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: orange;
}

.box6 {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  background-color: orange;
}

.box7 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  background-color: orange;
}

.box8 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  background-color: orange;
}

.box9 {
  width: 30%;
  height: 200px;
  background-color: orange;
}