*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list-box {
  margin-bottom: 50px;
}

.list-text {
  list-style: none;
  padding: 20px;
}

.list-text:nth-child(odd) {
  background-color: lightblue;
}

.box {
  width: 960px;
  margin: 50px auto;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.box-contents {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: gold;
}

.box-contents:nth-child(3n) {
  width: 30%;
  height: 200px;
  margin-right: 0;
}

.box-contents:nth-child(4n-3) {
  background-color: orange;
}

.box-contents:nth-child(n>7) {
 
 